html {
    font: .8125em "Ubuntu", sans-serif;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0.25em 0 0.5em;
}
h1, h2 {font-size: 2rem; color: #08c;}
h3 {font-size: 1.5rem; color: #000;}
h4, h5, h6 {font-size: 1rem; color: #000;}
p {margin: 1em 0;}

a {color: #08c;}
a:hover {text-decoration: none;}
a:visited {color: #080;}

label {
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
input[type="checkbox"], input[type="radio"] {vertical-align: middle;}
.cell > label {line-height: 2.5em;}

.r {text-align: right;}
.c {text-align: center;}
.hidden {display: none;}

#wrap {
    background-color: #eef4f7;
}

#header {
    background-color: #08c;
    color: #fff;
    height: 4em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    z-index: 10;
}

#header > .btn-list {
    float: right;
    list-style: none
}

#header > .btn-list > li {
    float: right;
}

#header > .btn-list .btn {
    min-width: 4em;
    height: 4em;
    padding: 0;
    line-height: 4em;
    color: #fff;
    box-shadow: none;
    border: none;
}

#header > .btn-list .btn:hover {
    background-color: #0af;
}

#header > .btn-list .btn[data-number] {
    position: relative;
}

#header > .btn-list .btn[data-number]::after {
    display: block;
    line-height: 1.5em;
    padding: 0 0.25em;
    position: absolute;
    top: 0;
    right: 0;
    color: #8cf;
    content: attr(data-number);
}


#main {
    padding: 3em 4em;
    min-height: calc(100vh - 4em);
}
@media (max-width: 768px) {
    #main {padding: 1em;}
}
#main > .section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.menu {
    list-style: none;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}
@media (min-width: 769px) {
    .menu {
        padding-top: 1.5em;
        min-height: calc(100vh - 4em);
    }
}
@media (max-width: 768px) {
    .menu.menu > li > a {
        padding: 1.2em;
    }
}
.menu > li > a {
    display: block;
    padding: 0.8em 2em;
    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.menu > li > a > .menu-icon {
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    font-size: 1.5em;
}
.menu > li > a:hover {
    color: #000;
}
.menu > li > a:hover > .menu-icon {
    color: #0af;
}
.menu > li > a > .submenu-mark {
    display: inline-block;
    float: right;
    line-height: 1.5em;
    height: 1.5em;
}

.menu .menu {
    height: 0;
    padding: 0;
    min-height: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.35);
}

/*******************************************************************************
    MATERIAL DESIGN CARDS
*******************************************************************************/
.card {
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    border-radius: 2px;
}
.card-header {
    background-color: #08c;
    color: #fff;
    padding: 0.8em 1em;
    font-weight: bold;
}
.card-section {
    padding: 1em;
    border-top: 1px solid #e8e8e8;
}
.card-section:first-of-type {
    border: none;
}



/*******************************************************************************
    STANDARD BUTTONS
*******************************************************************************/
.btn {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    outline: none;
    background-color: transparent;
    padding: 0.5em 1em;
    font: inherit;
    font-weight: bold;
    height: 2.5em;
    line-height: 1em;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    min-width: 7em;
}
.btn:active {
    box-shadow: inset 2px 2px 8px rgba(0,0,0,0.35);
}


.btn.btn-default {color: inherit; background-color: #fff;}
.btn.btn-default:hover, .btn.btn-default:focus {color: #0af;}

.btn.btn-primary {color: #fff; background-color: #08c;}
.btn.btn-primary:hover, .btn.btn-primary:focus {background-color: #0af;}

.btn.btn-success {color: #fff; background-color: #0a0;}
.btn.btn-success:hover, .btn.btn-success:focus {background-color: #0c0;}

.btn.btn-danger {color: #fff; background-color: #C00;}
.btn.btn-danger:hover, .btn.btn-danger:focus {background-color: #FF3232;}



/*******************************************************************************
    TEXTFIELD, SELECT
*******************************************************************************/
input[type="text"], input[type="password"], select {
    color: inherit;
    font: inherit;
    padding: 0.5em;
    line-height: 1.5em;
    width: 100%;
    height: 2.5em;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 2px;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus {border-color: #0a0;}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AsYCxsIk1VTCgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACPSURBVCjPlc+9DgFBFAbQsyYkotZINEoVxUpQeHrR8go06BUb8dPsJpOxk6xb3vvNyTcBAUvMcMXb73TJCFhhgwlGuCThJrOuM0Oc8UmxHqroMMcO/QQqozeVzATc8cQUBcZRwzKBjjjg1YYVUcMFttHuUaMxtM9BTTP1N29Jw8E/UIzlwM5QirWBp64QfAE/QSgKP5OaXAAAAABJRU5ErkJggg==');
    background-position: right center;
    background-repeat: no-repeat;
}



/*******************************************************************************
    TEXTAREA
*******************************************************************************/
textarea {
    color: inherit;
    font: inherit;
    width: 100%;
    min-height: 2em;
    outline: none;
    padding: 0.5em;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 2px;
    resize: vertical;
}
textarea:focus {
    border-color: #0b0;
}



/*******************************************************************************
    CHECKBOXES, RADIO
*******************************************************************************/
input[hidden][type="checkbox"] + span, input[hidden][type="radio"] + span {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1);
    font: 1rem/1.4em "FontAwesome";
    color: #08c;    
}
input[hidden][type="checkbox"] + span {border-radius: 2px;}
input[hidden][type="radio"] + span {border-radius: 50%;}

input[hidden][type="checkbox"] + span::after {
    content: "";
}
input[hidden][type="radio"] + span::after {
    content: "";
}
input[hidden][type="checkbox"]:checked + span::after {
    content: "\f00c";
}
input[hidden][type="radio"]:checked + span::after {
    content: "\f111";
}



/*******************************************************************************
    FIELDSET
*******************************************************************************/
fieldset {
    display: block;
    padding: 1em;
    padding-top: 0.5em;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
}
fieldset > legend {
    padding: 0 0.5em;
}



/*******************************************************************************
    DISABLED ELEMENTS
*******************************************************************************/
fieldset[disabled] > :not(legend) input,
fieldset[disabled] > :not(legend) input[hidden] + span,
fieldset[disabled] > :not(legend) textarea,
fieldset[disabled] > :not(legend) button,
fieldset[disabled] > :not(legend) select,
fieldset[disabled] > :not(legend) .btn,
fieldset[disabled] > input,
fieldset[disabled] > input[hidden] + span,
fieldset[disabled] > textarea,
fieldset[disabled] > button,
fieldset[disabled] > select,
fieldset[disabled] > .btn,
[disabled],
[disabled]:hover,
[disabled][hidden] + span
{
    box-shadow: none !important;
    background-color: transparent !important;
    color: rgba(0,0,0,0.2) !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    cursor: default !important;
}



/*******************************************************************************
    MODAL WINDOWS
*******************************************************************************/
.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.modal {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
    text-align: left;
}



/*******************************************************************************
    ALERTS
*******************************************************************************/
.alert {
    padding: 1.25em;
    padding-left: 5em;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
}
.alert::after {
    display: block;
    font: 2em FontAwesome;
    padding-top: 1rem;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    color: #fff;
}

.alert-danger {
    background-color: #fcc;
    border-color: #C00;
    color: #900;
    box-shadow: 0 5px 15px rgba(80,0,0,0.35);
}
.alert-danger::after {
    content: "\f06a";
    background-color: #C00;
}

.alert-info {
    background-color: #adf;
    border-color: #08c;
    color: #069;
    box-shadow: 0 5px 15px rgba(0,80,120,0.35);
}
.alert-info::after {
    content: "\f05a";
    background-color: #08c;
}

.alert-success {
    background-color: #cfc;
    border-color: #080;
    color: #060;
    box-shadow: 0 5px 15px rgba(0,80,0,0.35);
}
.alert-success::after {
    content: "\f058";
    background-color: #080;
}



/*******************************************************************************
    SYSTEM MESSAGE at top of the screen (it disappears via JS when hovering)
*******************************************************************************/
.system-message {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 2em 0;
    text-align: center;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    opacity: 0;
    transform: scale(1.5);
}
.system-message > .alert {
    display: inline-block;
}



/*******************************************************************************
    PAGINATION
*******************************************************************************/
.pagination {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    border-radius: 2px;
    overflow: hidden;
    font-weight: bold;
}
.pagination > li {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,0.15);
    border-right: none;
    background-color: #fff;
}
.pagination > li:last-of-type {
    border-right: 1px solid rgba(0,0,0,0.15);
}
.pagination li > * {
    display: block;
    padding: 0.5em 0;
    width: 2.5em;
    color: inherit;
    text-decoration: none;
}
.pagination > li.active {
    background-color: #08c;
    color: #fff;
}
.pagination > li:hover > a {
    color: #0af;
}