/* GRID SYSTEM */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    font-size: 0;
    line-height: 0;
    padding: 0;
}
.grid.split-0-25 {margin: -0.125rem;}
.grid.split-0-25 > .cell {padding: 0.125em;}
.grid.split-0-5 {margin: -0.25rem;}
.grid.split-0-5 > .cell {padding: 0.25em;}
.grid.split-0-75 {margin: -0.375rem;}
.grid.split-0-75 > .cell {padding: 0.375em;}
.grid.split-1 {margin: -0.5rem;}
.grid.split-1 > .cell {padding: 0.5em;}
.grid.split-1-5 {margin: -0.75rem;}
.grid.split-1-5 > .cell {padding: 0.75em;}
.grid.split-2 {margin: -1rem;}
.grid.split-2 > .cell {padding: 1em;}

.grid.padding-0-25 {padding: 0.125rem;}
.grid.padding-0-25 > .cell {padding: 0.125em;}
.grid.padding-0-5 {padding: 0.25rem;}
.grid.padding-0-5 > .cell {padding: 0.25em;}
.grid.padding-0-75 {padding: 0.375rem;}
.grid.padding-0-75 > .cell {padding: 0.375em;}
.grid.padding-1 {padding: 0.5rem;}
.grid.padding-1 > .cell {padding: 0.5em;}
.grid.padding-1-5 {padding: 0.75rem;}
.grid.padding-1-5 > .cell {padding: 0.75em;}
.grid.padding-2 {padding: 1rem;}
.grid.padding-2 > .cell {padding: 1em;}

.cell {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12,
.sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12,
.md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12,
.lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12,
.xl-1, .xl-2, .xl-3, .xl-4, .xl-5, .xl-6, .xl-7, .xl-8, .xl-9, .xl-10, .xl-11, .xl-12 {
    position: relative;
}

.xs-1 {width: 8.333333%;}
.xs-2 {width: 16.666667%;}
.xs-3 {width: 25%;}
.xs-4 {width: 33.333333%;}
.xs-5 {width: 41.666667%;}
.xs-6 {width: 50%;}
.xs-7 {width: 58.333333%;}
.xs-8 {width: 66.666667%;}
.xs-9 {width: 75%;}
.xs-10 {width: 83.333333%;}
.xs-11 {width: 91.666667%;}
.xs-12 {width: 100%;}
.pull-xs-0 {right: auto;}
.pull-xs-1 {right: 8.333333%;}
.pull-xs-2 {right: 16.666667%;}
.pull-xs-3 {right: 25%;}
.pull-xs-4 {right: 33.333333%;}
.pull-xs-5 {right: 41.666667%;}
.pull-xs-6 {right: 50%;}
.pull-xs-7 {right: 58.333333%;}
.pull-xs-8 {right: 66.666667%;}
.pull-xs-9 {right: 75%;}
.pull-xs-10 {right: 83.333333%;}
.pull-xs-11 {right: 91.666667%;}
.pull-xs-12 {right: 100%;}
.push-xs-0 {left: auto;}
.push-xs-1 {left: 8.333333%;}
.push-xs-2 {left: 16.666667%;}
.push-xs-3 {left: 25%;}
.push-xs-4 {left: 33.333333%;}
.push-xs-5 {left: 41.666667%;}
.push-xs-6 {left: 50%;}
.push-xs-7 {left: 58.333333%;}
.push-xs-8 {left: 66.666667%;}
.push-xs-9 {left: 75%;}
.push-xs-10 {left: 83.333333%;}
.push-xs-11 {left: 91.666667%;}
.push-xs-12 {left: 100%;}
.offset-xs-1 {margin-left: 8.333333%;}
.offset-xs-2 {margin-left: 16.666667%;}
.offset-xs-3 {margin-left: 25%;}
.offset-xs-4 {margin-left: 33.333333%;}
.offset-xs-5 {margin-left: 41.666667%;}
.offset-xs-6 {margin-left: 50%;}
.offset-xs-7 {margin-left: 58.333333%;}
.offset-xs-8 {margin-left: 66.666667%;}
.offset-xs-9 {margin-left: 75%;}
.offset-xs-10 {margin-left: 83.333333%;}
.offset-xs-11 {margin-left: 91.666667%;}

@media (min-width: 544px) {
    .sm-1 {width: 8.333333%;}
    .sm-2 {width: 16.666667%;}
    .sm-3 {width: 25%;}
    .sm-4 {width: 33.333333%;}
    .sm-5 {width: 41.666667%;}
    .sm-6 {width: 50%;}
    .sm-7 {width: 58.333333%;}
    .sm-8 {width: 66.666667%;}
    .sm-9 {width: 75%;}
    .sm-10 {width: 83.333333%;}
    .sm-11 {width: 91.666667%;}
    .sm-12 {width: 100%;}
    .pull-sm-0 {right: auto;}
    .pull-sm-1 {right: 8.333333%;}
    .pull-sm-2 {right: 16.666667%;}
    .pull-sm-3 {right: 25%;}
    .pull-sm-4 {right: 33.333333%;}
    .pull-sm-5 {right: 41.666667%;}
    .pull-sm-6 {right: 50%;}
    .pull-sm-7 {right: 58.333333%;}
    .pull-sm-8 {right: 66.666667%;}
    .pull-sm-9 {right: 75%;}
    .pull-sm-10 {right: 83.333333%;}
    .pull-sm-11 {right: 91.666667%;}
    .pull-sm-12 {right: 100%;}
    .push-sm-0 {left: auto;}
    .push-sm-1 {left: 8.333333%;}
    .push-sm-2 {left: 16.666667%;}
    .push-sm-3 {left: 25%;}
    .push-sm-4 {left: 33.333333%;}
    .push-sm-5 {left: 41.666667%;}
    .push-sm-6 {left: 50%;}
    .push-sm-7 {left: 58.333333%;}
    .push-sm-8 {left: 66.666667%;}
    .push-sm-9 {left: 75%;}
    .push-sm-10 {left: 83.333333%;}
    .push-sm-11 {left: 91.666667%;}
    .push-sm-12 {left: 100%;}
    .offset-sm-0 {margin-left: 0%;}
    .offset-sm-1 {margin-left: 8.333333%;}
    .offset-sm-2 {margin-left: 16.666667%;}
    .offset-sm-3 {margin-left: 25%;}
    .offset-sm-4 {margin-left: 33.333333%;}
    .offset-sm-5 {margin-left: 41.666667%;}
    .offset-sm-6 {margin-left: 50%;}
    .offset-sm-7 {margin-left: 58.333333%;}
    .offset-sm-8 {margin-left: 66.666667%;}
    .offset-sm-9 {margin-left: 75%;}
    .offset-sm-10 {margin-left: 83.333333%;}
    .offset-sm-11 {margin-left: 91.666667%;}
}
@media (min-width: 768px) {
    .md-1 {width: 8.333333%;}
    .md-2 {width: 16.666667%;}
    .md-3 {width: 25%;}
    .md-4 {width: 33.333333%;}
    .md-5 {width: 41.666667%;}
    .md-6 {width: 50%;}
    .md-7 {width: 58.333333%;}
    .md-8 {width: 66.666667%;}
    .md-9 {width: 75%;}
    .md-10 {width: 83.333333%;}
    .md-11 {width: 91.666667%;}
    .md-12 {width: 100%;}
    .pull-md-0 {right: auto;}
    .pull-md-1 {right: 8.333333%;}
    .pull-md-2 {right: 16.666667%;}
    .pull-md-3 {right: 25%;}
    .pull-md-4 {right: 33.333333%;}
    .pull-md-5 {right: 41.666667%;}
    .pull-md-6 {right: 50%;}
    .pull-md-7 {right: 58.333333%;}
    .pull-md-8 {right: 66.666667%;}
    .pull-md-9 {right: 75%;}
    .pull-md-10 {right: 83.333333%;}
    .pull-md-11 {right: 91.666667%;}
    .pull-md-12 {right: 100%;}
    .push-md-0 {left: auto;}
    .push-md-1 {left: 8.333333%;}
    .push-md-2 {left: 16.666667%;}
    .push-md-3 {left: 25%;}
    .push-md-4 {left: 33.333333%;}
    .push-md-5 {left: 41.666667%;}
    .push-md-6 {left: 50%;}
    .push-md-7 {left: 58.333333%;}
    .push-md-8 {left: 66.666667%;}
    .push-md-9 {left: 75%;}
    .push-md-10 {left: 83.333333%;}
    .push-md-11 {left: 91.666667%;}
    .push-md-12 {left: 100%;}
    .offset-md-0 {margin-left: 0%;}
    .offset-md-1 {margin-left: 8.333333%;}
    .offset-md-2 {margin-left: 16.666667%;}
    .offset-md-3 {margin-left: 25%;}
    .offset-md-4 {margin-left: 33.333333%;}
    .offset-md-5 {margin-left: 41.666667%;}
    .offset-md-6 {margin-left: 50%;}
    .offset-md-7 {margin-left: 58.333333%;}
    .offset-md-8 {margin-left: 66.666667%;}
    .offset-md-9 {margin-left: 75%;}
    .offset-md-10 {margin-left: 83.333333%;}
    .offset-md-11 {margin-left: 91.666667%;}
}

@media (min-width: 992px) {
    .lg-1 {width: 8.333333%;}
    .lg-2 {width: 16.666667%;}
    .lg-3 {width: 25%;}
    .lg-4 {width: 33.333333%;}
    .lg-5 {width: 41.666667%;}
    .lg-6 {width: 50%;}
    .lg-7 {width: 58.333333%;}
    .lg-8 {width: 66.666667%;}
    .lg-9 {width: 75%;}
    .lg-10 {width: 83.333333%;}
    .lg-11 {width: 91.666667%;}
    .lg-12 {width: 100%;}
    .pull-lg-0 {right: auto;}
    .pull-lg-1 {right: 8.333333%;}
    .pull-lg-2 {right: 16.666667%;}
    .pull-lg-3 {right: 25%;}
    .pull-lg-4 {right: 33.333333%;}
    .pull-lg-5 {right: 41.666667%;}
    .pull-lg-6 {right: 50%;}
    .pull-lg-7 {right: 58.333333%;}
    .pull-lg-8 {right: 66.666667%;}
    .pull-lg-9 {right: 75%;}
    .pull-lg-10 {right: 83.333333%;}
    .pull-lg-11 {right: 91.666667%;}
    .pull-lg-12 {right: 100%;}
    .push-lg-0 {left: auto;}
    .push-lg-1 {left: 8.333333%;}
    .push-lg-2 {left: 16.666667%;}
    .push-lg-3 {left: 25%;}
    .push-lg-4 {left: 33.333333%;}
    .push-lg-5 {left: 41.666667%;}
    .push-lg-6 {left: 50%;}
    .push-lg-7 {left: 58.333333%;}
    .push-lg-8 {left: 66.666667%;}
    .push-lg-9 {left: 75%;}
    .push-lg-10 {left: 83.333333%;}
    .push-lg-11 {left: 91.666667%;}
    .push-lg-12 {left: 100%;}
    .offset-lg-0 {margin-left: 0%;}
    .offset-lg-1 {margin-left: 8.333333%;}
    .offset-lg-2 {margin-left: 16.666667%;}
    .offset-lg-3 {margin-left: 25%;}
    .offset-lg-4 {margin-left: 33.333333%;}
    .offset-lg-5 {margin-left: 41.666667%;}
    .offset-lg-6 {margin-left: 50%;}
    .offset-lg-7 {margin-left: 58.333333%;}
    .offset-lg-8 {margin-left: 66.666667%;}
    .offset-lg-9 {margin-left: 75%;}
    .offset-lg-10 {margin-left: 83.333333%;}
    .offset-lg-11 {margin-left: 91.666667%;}
}

@media (min-width: 1200px) {
    .xl-1 {width: 8.333333%;}
    .xl-2 {width: 16.666667%;}
    .xl-3 {width: 25%;}
    .xl-4 {width: 33.333333%;}
    .xl-5 {width: 41.666667%;}
    .xl-6 {width: 50%;}
    .xl-7 {width: 58.333333%;}
    .xl-8 {width: 66.666667%;}
    .xl-9 {width: 75%;}
    .xl-10 {width: 83.333333%;}
    .xl-11 {width: 91.666667%;}
    .xl-12 {width: 100%;}
    .pull-xl-0 {right: auto;}
    .pull-xl-1 {right: 8.333333%;}
    .pull-xl-2 {right: 16.666667%;}
    .pull-xl-3 {right: 25%;}
    .pull-xl-4 {right: 33.333333%;}
    .pull-xl-5 {right: 41.666667%;}
    .pull-xl-6 {right: 50%;}
    .pull-xl-7 {right: 58.333333%;}
    .pull-xl-8 {right: 66.666667%;}
    .pull-xl-9 {right: 75%;}
    .pull-xl-10 {right: 83.333333%;}
    .pull-xl-11 {right: 91.666667%;}
    .pull-xl-12 {right: 100%;}
    .push-xl-0 {left: auto;}
    .push-xl-1 {left: 8.333333%;}
    .push-xl-2 {left: 16.666667%;}
    .push-xl-3 {left: 25%;}
    .push-xl-4 {left: 33.333333%;}
    .push-xl-5 {left: 41.666667%;}
    .push-xl-6 {left: 50%;}
    .push-xl-7 {left: 58.333333%;}
    .push-xl-8 {left: 66.666667%;}
    .push-xl-9 {left: 75%;}
    .push-xl-10 {left: 83.333333%;}
    .push-xl-11 {left: 91.666667%;}
    .push-xl-12 {left: 100%;}
    .offset-xl-0 {margin-left: 0%;}
    .offset-xl-1 {margin-left: 8.333333%;}
    .offset-xl-2 {margin-left: 16.666667%;}
    .offset-xl-3 {margin-left: 25%;}
    .offset-xl-4 {margin-left: 33.333333%;}
    .offset-xl-5 {margin-left: 41.666667%;}
    .offset-xl-6 {margin-left: 50%;}
    .offset-xl-7 {margin-left: 58.333333%;}
    .offset-xl-8 {margin-left: 66.666667%;}
    .offset-xl-9 {margin-left: 75%;}
    .offset-xl-10 {margin-left: 83.333333%;}
    .offset-xl-11 {margin-left: 91.666667%;}
}

.container {
    margin: 0 auto;
}

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.hidden, [hidden] {
    display: none;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}